<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alberto Aramburu Agudo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Añadir la imagen aquí -->
  <ion-card style="display: flex; justify-content: center;">
    <ion-img src="assets/img/perfil.jpg" alt="Profile Picture" style="width: 50vh; height: 50vw;"></ion-img>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Who I'm</ion-card-title>
    </ion-card-header>

    <ion-card-content>      
      Alberto Aramburu Agudo es un profesional dinámico y apasionado por la innovación tecnológica. Con un profundo interés en la arquitectura de sistemas y la optimización de procesos, ha destacado por su capacidad de liderar proyectos que transforman las ideas en soluciones prácticas. Su formación académica en ingeniería y su enfoque metódico lo han llevado a colaborar en proyectos estratégicos, tanto en el ámbito privado como en instituciones educativas.
    </ion-card-content>
  </ion-card>

  
</ion-content>
